{{ $items := slice }}
{{ range $i, $p := .Pages }}
  {{ $position := add $i 1 }}
  {{ $item := dict "@type" "ListItem" "position" $position "url" $p.Permalink "name" $p.Title }}
  {{ $items = $items | append $item }}
{{ end }}

{{ $schema := dict
  "@context" "https://schema.org/"
  "@type" "ItemList"
  "itemListElement" $items
}}

{{ with .Title }}
  {{ $schema = merge $schema (dict "name" .) }}
{{ end }}

{{ with .Params.description }}
  {{ $schema = merge $schema (dict "description" .) }}
{{ end }}

<script type="application/ld+json">
{{ $schema | jsonify (dict "indent" "  ") | safeJS }}
</script>
